.path-local-wswizard .button_size_half {
    height: 5rem;
}

.path-local-wswizard .name_display_same_line {
    display: flex;
    justify-content: space-between;
}

.path-local-wswizard .name_display_same_line_no_jusitfy {
    display: flex;
}

.path-local-wswizard table {
    table-layout: fixed;
    width: 100%;
}

.path-local-wswizard .fa-pencil {
    color: #ff8a17;
}

.path-local-wswizard nav {
    margin-bottom: 1.5rem;
}

.path-local-wswizard .nav-link {
    font-weight: 700;
}

.path-local-wswizard .addScroll {
    overflow-y: auto;
    height: 60px;
}

.path-local-wswizard .wswizard_smaller_text {
    font-size: small;
}
