<table id="logsTable" class="table table-striped">
    <thead>
    <tr>
        <th>
            {{#str}} ws_log_column_id, local_wswizard{{/str}}
        </th>
        <th>
            {{#str}} ws_log_column_action, local_wswizard{{/str}}
        </th>
        <th>
            {{#str}} ws_log_column_ws_id, local_wswizard{{/str}}
        </th>
        <th>
            {{#str}} ws_log_column_ws_name, local_wswizard{{/str}}
        </th>
        <th>
            {{#str}} ws_log_column_timecreated, local_wswizard{{/str}}
        </th>
        <th>
            {{#str}} ws_log_column_createdby_id, local_wswizard{{/str}}
        </th>
        <th>
            {{#str}} ws_log_column_createdby_username, local_wswizard{{/str}}
        </th>
    </tr>
    </thead>
    <tbody>
    {{#logs}}
        <tr>
            <td>
                {{{id}}}
            </td>
            <td>
                {{{action}}}
            </td>
            <td>
                {{{webservice_id}}}
            </td>
            <td>
                {{{webservicename}}}
            </td>
            <td>
                {{{timecreated}}}
            </td>
            <td>
                {{{createdby}}}
            </td>
            <td>
                <a href="/user/profile.php?id={{createdby}}">{{{username}}}</a>
            </td>
        </tr>
    {{/logs}}
    </tbody>
</table>