<table id="logsTable" class="table table-striped">
    <thead>
    <tr>
        <th>
            {{#str}} ws_log_column_id, local_wswizard{{/str}}
        </th>
        <th>
            {{#str}} ws_log_column_action, local_wswizard{{/str}}
        </th>
        <th>
            {{#str}} ws_log_column_ws_name, local_wswizard{{/str}}
        </th>
        <th>
            {{#str}} ws_log_column_timecreated, local_wswizard{{/str}}
        </th>
        <th>
            {{#str}} ws_log_column_createdby_user, local_wswizard{{/str}}
        </th>  <th>
            {{#str}} ws_log_column_ip, local_wswizard{{/str}}
        </th>
    </tr>
    </thead>
    <tbody>
    {{#logs}}
        <tr>
            <td>
                {{{id}}}
            </td>
            <td>
                {{{action}}}
            </td>
            <td>
                {{{webservice}}}
            </td>
            <td>
                {{{timecreated}}}
            </td>
            <td>
                <a href="/user/profile.php?id={{createdby}}" target="_blank"> {{{createdby}}}</a>
            </td>
            <td>
                {{{ip}}}
            </td>
        </tr>
    {{/logs}}
    </tbody>
</table>